NEXT_PUBLIC_SUPABASE_URL=https://rtzskbzjhaprctdtetcs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0enNrYnpqaGFwcmN0ZHRldGNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5NDMyMjksImV4cCI6MjEwMjUxOTIyOX0.LHrsnU2jKIA_K2LPiaOFFs_shzIQa6UCBJvuWIeNBGY
NEXT_PUBLIC_SITE_URL=http://localhost:3000
