@import "tailwindcss";

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::selection {
  background-color: rgb(254 215 170);
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
