EXPO_PUBLIC_SUPABASE_URL=https://tnhedllrtdcuxvfqksxn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuaGVkbGxydGRjdXh2ZnFrc3huIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4OTI2NjcsImV4cCI6MjEwMzQ2ODY2N30.KF9TQIUbtDRf2Erueb8jlrC-M_zWAaDwaunvOIJ1XqY
