EXPO_PUBLIC_SUPABASE_URL=https://orbcgxpkdinyebdimymm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yYmNneHBrZGlueWViZGlteW1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3ODcyMDksImV4cCI6MjEwMjM2MzIwOX0.z9kcaRTxtIxyCxfhgDEV4bufJ6KMyqst0mOFw2EmMN0
